---
- name: Resolve platform specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_release"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'
- name: Check for install in {{ pack_install_dir }}
  become: true
  ansible.builtin.stat:
    path: '{{ pack_install_dir }}'
  changed_when: false
  register: pack_binary
- name: Downloading and installing pack
  when: not pack_binary.stat.exists
  block:
    - name: Downloading {{ pack_url }}
      become: true
      become_user: root
      ansible.builtin.get_url:
        url: '{{ pack_url }}'
        dest: '{{ pack_tmp_archive }}'
        mode: '644'
        checksum: '{{ pack_checksum }}'
    - name: Mkdir {{ pack_install_dir }}
      become: true
      become_user: root
      ansible.builtin.file:
        path: '{{ pack_install_dir }}'
        state: directory
        mode: '755'
    - name: Installing andrewrothstein.unarchivedeps
      ansible.builtin.include_role:
        name: andrewrothstein.unarchivedeps
    - name: Unarchive {{ pack_tmp_archive }}
      become: true
      become_user: root
      ansible.builtin.unarchive:
        remote_src: true
        src: '{{ pack_tmp_archive }}'
        dest: '{{ pack_install_dir }}'
        creates: '{{ pack_exe }}'
  always:
    - name: Rm {{ pack_tmp_archive }}
      become: true
      become_user: root
      ansible.builtin.file:
        path: '{{ pack_tmp_archive }}'
        state: absent
- name: Linking {{ pack_link }} to {{ pack_exe }}
  become: true
  become_user: root
  ansible.builtin.file:
    src: '{{ pack_exe }}'
    dest: '{{ pack_link }}'
    state: link
